body{
    background: #00c1b5;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color 500ms ease-out 200ms;
    -moz-transition: background-color 500ms ease-out 200ms;
    -o-transition: background-color 500ms ease-out 200ms;
    transition: background-color 500ms ease-out 200ms;
}
body.fp-viewing-issue4 {
    background: #ff6519;
}
body.fp-viewing-issue3 {
    background: #ffbe00;
}
body.fp-viewing-issue2 {
    background: #1d3fbb;
}
body.fp-viewing-issue1 {
    background: #E30512;
}
p{
    color: #251d20;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}
a{
    color: #251d20;
    text-decoration: underline;
}
a:hover, a:focus, a:active{
    color: #251d20;
    text-decoration: none;
}
a.link2{
    text-decoration: none;
}
a.link2:hover, a.link2:focus, a.link2:active{
    text-decoration: underline;
}
.header{
    padding-top: 20px;
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 2;
}
.header img{
    width: 260px;
    height: auto;
}
.middle{
    padding-top: 35px;
}
.middle .cover{
    text-align: center;
}
.middle .cover img{
    width: 420px;
}
.middle .cover p{
    margin-top: 0px;
}

.footer{
    position: relative;
}
.footer .contact{
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 15px;
    margin-top: 0;
}
.copyright {
    font-size: 12px;
    font-weight: normal;
}
.orin{
    font-size: 15px;
    padding-top: 3px;
    line-height: 22px;
}
.orin a{
    color: #FFF;
    text-decoration: none;
}
.orin a:hover{
    text-decoration: underline;
}

.menu {
    position: absolute;
    bottom: 0px;
    right: 15px;
    width: 200px;
    text-align: right;
    display: none;
    z-index: 2;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
}
.menu a {
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
body.fp-viewing-issue1 .menu a.issue1 {
    font-weight: bold;
}
body.fp-viewing-issue2 .menu a.issue2 {
    font-weight: bold;
}
body.fp-viewing-issue3 .menu a.issue3 {
    font-weight: bold;
}
body.fp-viewing-issue4 .menu a.issue4 {
    font-weight: bold;
}

@media (min-width: 992px) and (min-height: 650px){
    .middle .cover{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .footer{
        position: static;
    }
    .footer .contact{
        text-align: right;
        position: absolute;
        right: 15px;
        top: 20px;
    }
    .footer .description{
        position: absolute;
        bottom: 0;
        left: 22px;
        width: 320px;
        margin-top: 0;
    }
    .menu{
        display: block;
    }
}
@media (max-width: 991px) {
    .footer{
        position: relative;
    }
    .footer .description{
        margin-top: 0px;
        position: relative;
        left: auto;
        bottom: auto;
        width: auto;
    }
}
@media (max-width: 767px) {
    .header img{
        width: 160px;
    }
    .middle .cover img{
        width: 80%;
        max-width: 420px;
        height: auto;
    }
    .footer{
        margin-top: 30px;
    }
    .footer p{
        text-align: center;
        margin-bottom: 50px;
    }
    .footer .contact{
        position: relative;
        right: auto;
        text-align: center;
    }
    .orin{
        padding-left: 15px;
        padding-right: 15px;
    }
}