body{
    background: #00c1b5;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color 500ms ease-out 200ms;
    -moz-transition: background-color 500ms ease-out 200ms;
    -o-transition: background-color 500ms ease-out 200ms;
    transition: background-color 500ms ease-out 200ms;
}

body.fp-viewing-issue4 {
    background: #ff6519;
}
body.fp-viewing-issue3 {
    background: #ffbe00;
}
body.fp-viewing-issue2 {
    background: #1d3fbb;
}
body.fp-viewing-issue1 {
    background: #E30512;
}


p{
    color: #251d20;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.6rem;
}

a{
    color: #251d20;
    text-decoration: none;
}

a:hover, 
a:focus, 
a:active{
    color: #251d20;
    text-decoration: underline;
}

.copyright {
    font-size: .75rem;
    font-weight: normal;
    z-index: 8;
}

.orin{
    font-size: 15px;
    padding-top: 3px;
    line-height: 22px;
    z-index: 6;
}
.orin a{
    color: #FFF;
    text-decoration: none;
}
.orin a:hover{
    text-decoration: underline;
}

.header{
    padding-top: .75rem;  
    padding-left: .75rem;
}

.header-img{
    width: 14%;
}

.contact{
    position: fixed;
    right: 1rem;
    bottom: 54.5rem;
}

.description{
    position: fixed;
    bottom: 0;
    left: 1.3rem;
    width: 18%;
    z-index: 2;
}

.menu{
    position: fixed;
    bottom: 2rem;
    right: 1.3rem;
    font-size: 1.1rem;
    line-height: 1.6;
    list-style: none;
    z-index: 2;
}

.menu a{
    text-decoration: none;
}
.menu a:hover{
  text-decoration: underline;
}


body.fp-viewing-issue1 .menu a.issue1 {
    font-weight: bold;
}
body.fp-viewing-issue2 .menu a.issue2 {
    font-weight: bold;
}
body.fp-viewing-issue3 .menu a.issue3 {
    font-weight: bold;
}
body.fp-viewing-issue4 .menu a.issue4 {
    font-weight: bold;
}
body.fp-viewing-issue5 .menu a.issue5 {
    font-weight: bold;
}


.cover{
    text-align: center;
    min-width: min-content;
    position: fixed;
    left: 38%;
}

.cover-img{
    width: 24rem;
}

